{% extends 'master_template_conductor.html' %}
{% block body %}

    {% with mensajes= get_flashed_messages()  %}
    {% if mensajes %}
        {% for msj in mensajes %}
            <script>
                Swal.fire(
                'Éxito',
                '{{ msj }}',
                'success')
            </script>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <style>
        .card {
            background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha (fourth) value for transparency */
        }
        .table th {
            background-color: rgba(255, 255, 255, 0.9);
        }
        .btn-blue:hover {
            background-color: #0a4275;
        }
        .card {
            background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha (fourth) value for transparency */
        }
        .table th {
            background-color: rgba(255, 255, 255, 0.9);
        }
         /* Ajustar el tamaño de las imágenes del carrusel */
         .carousel-item img {
            max-width: 350px;
            height: 350px;
        }
    </style>
    <div class="mt-5 mb-5">
        <h1 class="display-1 text-center text-white">Perfil de Conductor</h1>
    </div>
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                
                <div class=" card card-body ">
                    <!--Forma para mostrar datos del usuario-->
                    <h2 class=" text-center">Datos del Conductor</h2>
                    <form action="/actualizarpersonac/{{personaid}}" method="POST">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="inputMatricula" class="form-label">Matrícula</label>
                                <input type="number" class="form-control" id="inputMatricula" name="txtMatricula" value="{{conductor.1}}"  required>
                            </div><!--Cierre col-->
                            <div class="col-md-6">
                                <label for="inputNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="inputNombre" name="txtNombre" value="{{conductor.0}}"  required>
                            </div><!--Cierre col-->
                        </div><!--Cierre row-->
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="inputAP" class="form-label">Apellido Paterno</label>
                                <input type="text" class="form-control" id="inputAP" name="txtAP" value="{{conductor.2}}"  required>
                            </div><!--Cierre col-->
                            <div class="col-md-6">
                                <label for="inputAM" class="form-label">Apellido Materno</label>
                                <input type="text" class="form-control" id="inputAM" name="txtAM" value="{{conductor.3}}"  required>
                            </div><!--Cierre col-->
                        </div><!--Cierre row-->
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="inputAP" class="form-label">Teléfono</label>
                                <input type="text" class="form-control" id="inputTelefono" name="txtTelefono" value="{{conductor.4}}"  required>
                            </div><!--Cierre col-->
                            <div class="col-md-6">
                                <label for="inputGenero" class="form-label">Género</label>
                                            <select class="form-select" aria-label="Default select example" id="inputGenero" name="txtGenero" required>
                                                <option selected value="">Open this select menu</option>
                                                <option value="1">Mujer</option>
                                                <option value="2">Hombre</option>
                                              </select>
                            </div><!--Cierre col-->
                        </div><!--Cierre row-->
                        <div class="row g-3 mt-2">
                            <div class="col-md-12">
                                <div class="col-md-12 d-grid gap-2 d-md-block ">
                                    <!--Guardar cambios-->
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-trash"> Guardar cambios</i></button>
                                    <!--Toggle modal de contraseña-->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#password_modal">Cambiar contraseña</button>
                                    <!--Regresar a pagina principal-->
                                    <button type="reset" class="btn btn-warning"><i class="bi bi-arrow-return-left"> Cancelar</i></button>
                                </div>
                            </div><!--Cierre col-->
                        </div><!--Cierre row-->
                    </form>
                    <!--Modal de contraseña-->
                    <div class="modal fade" id="password_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar Contraseña</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/actualizarpasswordc/{{personaid}}" method="POST">
                                    <div class="row g-3">
                                        <div class="col-md-12">
                                            <label for="inputPassword" class="form-label">Nueva Contraseña</label>
                                            <input type="password" class="form-control" id="inputPassword" name="txtPassword" required>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-md-12">
                                            <label for="inputConfirmPassword" class="form-label">Confirmar contraseña</label>
                                            <input type="password" class="form-control" id="inputConfirmPassword" name="txtConfirmPassword" required>
                                        </div>
                                    </div>
                                    
                                
                            </div>
                            <div class="modal-footer">
                                <button type="Guardar" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                </div><!--Cierre Card-->
            </div><!--Cierre col-->

            <div class="col-md-6">
                
                <div class=" card card-body ">
                    <!--Forma para mostrar datos del uvehiculp-->
                    <h2 class=" text-center">Datos del Vehículo</h2>
                    <form action="/actualizarauto/{{personaid}}" method="POST">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="inputPlacas" class="form-label">Número de placas</label>
                                <input type="text" class="form-control" id="inputPlacas" name="txtPlacas" value="{{automovil.1}}" required>
                            </div><!--Cierre col-->
                            <div class="col-md-6">
                                <label for="inputModelo" class="form-label">Modelo</label>
                                <input type="text" class="form-control" id="inputModelo" name="txtModelo" value="{{automovil.2}}" required>
                            </div><!--Cierre col-->
                        </div><!--Cierre row-->
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="inputMarca" class="form-label">Marca</label>
                                <input type="text" class="form-control" id="inputMarca" name="txtMarca" value="{{automovil.3}}" required>
                            </div><!--Cierre col-->
                            <div class="col-md-6">
                                <label for="inputColor" class="form-label">Color</label>
                                <input type="text" class="form-control" id="inputColor" name="txtColor" value="{{automovil.4}}" required>
                            </div><!--Cierre col-->
                        </div><!--Cierre row-->
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="inputPoliza" class="form-label">Póliza</label>
                                <input type="text" class="form-control" id="inputPoliza" name="txtPoliza" value="{{automovil.5}}" required>
                            </div><!--Cierre col-->
                            <div class="col-md-6">
                                <label for="inputTipo" class="form-label">Tipo de auto</label>
                                <select class="form-select" aria-label="Default select example" id="inputTipo" name="txtTipo" required>
                                    <option selected value="">Open this select menu</option>
                                    <option value="1">Hatchback</option>
                                    <option value="2">Sedan</option>
                                    <option value="3">Crossover</option>
                                    <option value="4">Camioneta</option>
                                    <option value="5">Minivan</option>
                                    <option value="6">Van</option>
                                    <option value="7">Pick-up</option>
                                  </select>
                            </div><!--Cierre col-->
                        </div><!--Cierre row-->
                        <div class="row g-3 mt-2">
                            <div class="col-md-12">
                                <div class="col-md-12 d-grid gap-2 d-md-block ">
                                    <!--Guardar cambios-->
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-trash"> Guardar cambios</i></button>
                                    <!--Cancelar cambios-->
                                    <button type="reset" class="btn btn-warning"><i class="bi bi-arrow-return-left"> Cancelar</i></button>
                                </div>
                            </div><!--Cierre col-->
                        </div><!--Cierre row-->
                    </form>
                </div><!--Cierre Card-->
            </div><!--Cierre col-->
        </div><!--Cierre row-->
    </div><!--Cierre container-->

    <div class="container">
        <div class="row align-items-center">
            
        </div><!--row-->
</div><!--container-->
<br><br><br><br>    
{% endblock %}