<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles2.css">

</head>
<body> 
    <section class="container">
        <header>REGISTRO DE AUTOS</header>
        <form action="#" class="form">
            <div class="column">
                <div class="input-box">
                    <label>Matricula</label>
                    <input type="text" placeholder="Ingrese la Matricula del auto">

                </div>
                <div class="input-box">
                    <label>Marca</label>
                    <input type="text" placeholder="Ingrese la marca del vehiculo">

                </div>
            </div>
            <div class="column">
                <div class="input-box">
                    <label>Poliza</label>
                    <input type="text" placeholder="Ingrese la poliza del vehiculo">

                </div>

            </div>
            <div class="column">
                <div class="input-box">
                    <label>Capacidad</label>
                    <input type="number" placeholder="Capacidad en de personas del vehiculo">
                </div>
            </div>
            <div class="column">
                </div>
                <div class="input-box">
                    <label>Tipo</label>
                </div>
                <select class="input-box">
                    <option value="opcion1" type="text">Nissan</option>
                    <option value="opcion2" type="text">Chevrolet</option>
                    <option value="opcion3" type="text">Yetta</option>

                </select>
            </div>
            </div>
            <button>Submit</button>
            <div class="login-button">
                <button><a href="http://localhost:5000\index">Atras</a></button>
            </div> 
        </form>

    </section>



    
</body>
</html>