<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="formulario">
        <h1>Inicio de sesion</h1>
        <form action="/guardar" method="POST">
            <div class="username">
                <input type="text" required>
                <label> Usuario</label>
             </div>
             <div class="username">
                <input  name="Usuario" type="password" required>
                <label name="Contraseña">Contraseña</label>
             </div>
             <div class="Recordar">¿Olvido su contraseña?</div>
                <a type="submit" href="http://localhost:5000\index">Iniciar</a>
                <a type="submit" href="http://localhost:5000\index">Registrar</a>
        </form>

    </div>
</body>
</html>