<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles2.css">

</head>
<body> 
    <section class="container">
        <header>REGISTRO PERSONA</header>
        <form action="#" class="form">
            <div class="column">
                <div class="input-box">
                    <label>Nombre</label>
                    <input type="text" placeholder="Nombre">

                </div>
                <div class="input-box">
                    <label>Apellido Paterno</label>
                    <input type="text" placeholder="Apellido Paterno">

                </div>
                <div class="input-box">
                    <label>Apellido Materno</label>
                    <input type="text" placeholder="Apellido Materno">

                </div>
            </div>
            <div class="column">
                <div class="input-box">
                    <label>Phone number</label>
                    <input type="number" placeholder="Enter phone number">

                </div>
                <div class="input-box">
                    <label>Fecha</label>
                    <input type="date" placeholder="fecha de nacimiento">

                </div>

            </div>
            <div class="genter-box">
                <br>
                <h3>Genero</h3>
                <div class="gender-option">
                    <div class="gender">
                        <input type="radio" id="check-female" name="gender">
                        <label for="charset-female">Femenino</label>
                    </div>
                    <br>
                    <div class="gender-option"/>
                        <div class="gender">
                            <input type="radio" id="check-female" name="gender">
                            <label for="charset-male">Masculino</label>
                        </div>
                </div>
            </div>
            
            </div>
            <button>Guardar</button>
            <div class="login-button">
                <button><a href="http://localhost:5000\index">Atras</a></button>
            </div> 
        </form>

    </section>



    
</body>
</html>