<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles2.css">

</head>
<body> 
    <section class="container">
        <header>REGISTRO DE VIAJES</header>
        <form action="/crearviaje" class="form" method="POST">
            <div class="column">
                <div class="input-box">
                    <label>RUTA</label>
                    <input type="text" name="txtRuta" placeholder="Numero de ruta">

                </div>
            </div>
            <form action="#" class="form">
                <div class="input-box">
                    <label>PARADA</label>
                    <input type="text" name="txtParada" placeholder="Nombre de la parada">

                </div>
            </div>
            <button>Guardar</button>
            <div class="login-button">
                <button><a href="http://localhost:5000\index">Atras</a></button>
            </div> 
        </form>

    </section>



    
</body>
</html>